//
// Colors
// --------------------------------------------

$defaultColor: #20A8A6;

$colors: (
	persian-red: #D2322D,
	carrot-orange: #F18C20,
	selective-yellow: #F5B400,
	tory-blue: #124E8C,
	pickled-bluewood: #2C3E50,
	valencia: #DB4242,
	wattle: #D8D444,
	medium-purple: #A544D8,
	turquoise: #44D8BF,
	conifer: #90D844,
	raw-sienna: #D88D44,
	shakespeare: #44AAD8,
	cerise: #D84492,
	bamboo: #DA6304,
	bahia: #A5CB0C
);