//
// Form
// --------------------------------------------

@include font-face(fonticon, 'fonticon/fontawesome-webfont');

@mixin input($bcolor) {
	padding: 6px;
	@include calc(width, '100% - 10px');
	border: 1px solid $bcolor;
	color: #000;
	font-size: 14px;
	margin: 5px 5px;
	@include box-sizing(border-box);

	&:focus {
		box-shadow: 0 0 3px 1px $bcolor;
	}
}

@mixin label() {
	display: block;
	margin: 5px 5px;
	padding: 8px 10px;
	font-weight: bold;
	font-size: 14px;
	@include box-sizing(border-box);
}

@mixin checkbox($bcolor) {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid $bcolor;
	margin: 11px 5px;
	cursor: pointer;
	font-family: fonticon;
	position: relative;
	@include box-sizing(border-box);
}

@mixin radio($bcolor) {
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border: 1px solid $bcolor;
	margin: 11px 5px;
	cursor: pointer;
	font-family: fonticon;
	position: relative;
	border-radius: 150px;
	float: left;
	@include box-sizing(border-box);
}

@mixin combobox($bcolor) {
	position: relative;
	margin: 5px;
	width: calc(100% - 10px);
	font-size: 14px;
	@include box-sizing(border-box);

	> li {
		width: 100%;
		position: relative;
		height: 31px;
		span {
			background: #fff;
			display: block;
			padding: 7px 65px 7px 5px;
			border: 1px solid $bcolor;
			@include box-sizing(border-box);
		}
		a {
			display: block;
			position: absolute;
			right: 1px;
			top: 1px;
			width: 60px;
			height: 28px;
			background: lighten($bcolor, 10%);
			color: #fff;
			font-size: 14px;
		}
		ul {
			position: absolute;
			border: 1px solid $bcolor;
			background: lighten($bcolor, 10%);
			padding: 5px;
			width: 100%;
			z-index: 1;
			top: 31px;
			@include box-sizing(border-box);
		}
		li {
			color: #FFFFFF;
			padding: 5px 0;
			border-bottom: 1px solid darken($bcolor, 10%);
		}
		li:last-child {
			color: #FFFFFF;
			padding: 5px 0;
			border-bottom: none;
		}
	}

}

.sinput {
	@include input($defaultColor);
}

@each $name, $color in $colors {
	.sinput-#{$name} {
		@include input($color);
	}

	.sinput-button .sinput-#{$name} {
		margin-right: 0;
	}
}

.scontrol {
	margin: 0 0 0 0;
}

.slabel {
	@include label();
}

input[type='checkbox'].scheckbox {
	display: none;
}

input[type='checkbox'].scheckbox + label {
	@include checkbox($defaultColor);
}

input[type='checkbox'].scheckbox:checked + label:after {
	color: $defaultColor;
	font-size: 19px;
	left: -1px;
	position: absolute;
	top: -2px;
	content: "\f00c";
}

input[type='radio'].sradio {
	display: none;
}

input[type='radio'].sradio + label {
	@include radio($defaultColor);
}

input[type='radio'].sradio:checked + label:after {
	color: $defaultColor;
	font-size: 10px;
	left: 2.3px;
	position: absolute;
	top: 2px;
	content: "\f111";
}

.scombobox {
	@include combobox($defaultColor);
}

@each $name, $color in $colors {
	input[type='checkbox'].scheckbox-#{$name} {
		display: none;
	}

	input[type='checkbox'].scheckbox-#{$name} + label {
		@include checkbox($color);
	}

	input[type='checkbox'].scheckbox-#{$name}:checked + label:after {
		color: $color;
		font-size: 19px;
		left: -1px;
		position: absolute;
		top: -2px;
		content: "\f00c";
	}

	input[type='radio'].sradio-#{$name} {
		display: none;
	}

	input[type='radio'].sradio-#{$name} + label {
		@include radio($color);
	}

	input[type='radio'].sradio-#{$name}:checked + label:after {
		color: $color;
		background: none repeat scroll 0 0 #44AAD8;
		border-radius: 150px;
		color: #44AAD8;
		content: "";
		font-size: 10px;
		height: 8px;
		left: 2.3px;
		position: absolute;
		top: 3px;
		width: 8px;
	}

	.scombobox-#{$name} {
		@include combobox($color);
	}
}

