//
// Form
// --------------------------------------------

@include font-face(fonticon, 'fonticon/fontawesome-webfont');

@mixin input($bcolor) {
	padding: 10px;
	@include calc(width, '100% - 10px');
	border: 1px solid $bcolor;
	color: #000;
	font-size: 14px;
	margin: 5px 5px 0;
	@include box-sizing(border-box);

	&:focus {
		box-shadow: 0 0 3px 1px $bcolor;
	}
}

@mixin label() {
	display: block;
	margin: 5px 5px 0;
	padding: 12px 10px;
	font-weight: bold;
	font-size: 14px;
	@include box-sizing(border-box);
}

@mixin checkbox($bcolor) {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid $bcolor;
	margin: 17px 5px 13px;
	cursor: pointer;
	font-family: fonticon;
	position: relative;
	@include box-sizing(border-box);
}

@mixin radio($bcolor) {
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid $bcolor;
	margin: 17px 5px 13px;
	cursor: pointer;
	font-family: fonticon;
	position: relative;
	border-radius: 150px;
	@include box-sizing(border-box);
}

.sinput {
	@include input($defaultColor);
}

@each $name, $color in $colors {
	.sinput-#{$name} {
		@include input($color);
	}
}

.scontrol {
	margin: 0 0 10px 0;
}

.slabel {
	@include label();
}

input[type='checkbox'].scheckbox {
	display: none;
}

input[type='checkbox'].scheckbox + label {
	@include checkbox($defaultColor);
}

input[type='checkbox'].scheckbox:checked + label:after {
	color: $defaultColor;
	font-size: 19px;
    left: -1px;
    position: absolute;
    top: -2px;
	content: "\f00c";
}

input[type='radio'].sradio {
	display: none;
}

input[type='radio'].sradio + label {
	@include radio($defaultColor);
}

input[type='radio'].sradio:checked + label:after {
	color: $defaultColor;
    font-size: 10px;
    left: 2.3px;
    position: absolute;
    top: 1px;
	content: "\f111";
}

@each $name, $color in $colors {
	input[type='checkbox'].scheckbox-#{$name} {
		display: none;
	}

	input[type='checkbox'].scheckbox-#{$name} + label {
		@include checkbox($color);
	}

	input[type='checkbox'].scheckbox-#{$name}:checked + label:after {
		color: $color;
		font-size: 19px;
	    left: -1px;
	    position: absolute;
	    top: -2px;
		content: "\f00c";
	}
	

	input[type='radio'].sradio-#{$name} {
		display: none;
	}

	input[type='radio'].sradio-#{$name} + label {
		@include radio($color);
	}

	input[type='radio'].sradio-#{$name}:checked + label:after {
		color: $color;
	    font-size: 10px;
	    left: 2.3px;
	    position: absolute;
	    top: 1px;
		content: "\f111";
	}
}
