//
// Grid system
// --------------------------------------------

@import 'bourbon/bourbon';

@mixin sgc() {
	float: left;
	@include box-sizing(border-box);
}

.row:after {
	clear: both;
}

.row:after, .row:before {
	content: " ";
	display: table;
}

@for $i from 1 through 12 {
	.sgc-#{$i} {
		@include sgc;
		width: percentage($i/12);
	}
}